.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__input {
  display: flex;
  flex-direction: column;
}

.form__input textarea {
  height: 5rem;
}

.form__actions {
  display: flex;
  justify-content: end;
}
