.todo-item {
  list-style-type: none;
  display: flex;
  padding: 1rem;
  align-items: baseline;
  gap: 0.5rem;
  background-color: var(--secondary);
  border-radius: 4px;
}

.todo-item__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.done {
  text-decoration: line-through;
}
