.todo-item {
  list-style-type: none;
  display: flex;
  padding: 0.8rem;
  align-items: baseline;
  gap: 0.5rem;
  background-color: var(--secondary);
  border-radius: 4px;
}

.todo-item__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.todo-item__content p {
  white-space: pre-line;
}

.todo-item__checkbox:checked + div > * {
  text-decoration: line-through;
  opacity: 0.5;
}

.delete {
  font-size: small;
  opacity: 0.5;
  align-self: flex-start;
  background: none;
  border: none;
  cursor: pointer;
}
